.footer {
  text-align: center;
  background-color: blue;
}

#myProjects {
  text-align: center;
  list-style-type: none;
}

.mail_image {
  height: 70px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.github_image {
  height: 95px;
}

.phone_image {
  height: 90px;
}

.section_header {
  font-size: 23px;
}

.section_body {
  margin-bottom: 50px;
}

.image {
  background-repeat: no-repeat;
  max-width: 100%;
  height: 500px;
  position: relative;
}

.image_text {
  font-size: 80px;
  color: white;
  top: 40%;
  left: 40%;
  position: absolute;
}

@keyframes change_text_color {
  0% {color: white;}
  25% {color: red;}
  50% {color: black;}
  75% {color: red;}
  100% {color: white;}
}

.image_text {
  animation-name: change_text_color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.contact_heading, .goals_heading {
  font-size: 42px;
  text-align: center;
}

.goals_heading {
  margin-top: 80px;
}

.goals_body {
  text-align: center;
  margin-bottom: 80px;
}

#grad {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(to bottom right, green 10%, white 90%); /*Safari 5.1-6*/
  background: -o-linear-gradient(to bottom right, green 10%, white 90%); /*Opera 11.1-12*/
  background: -moz-linear-gradient(to bottom right, green 10%, white 90%); /*Fx 3.6-15*/
  background: linear-gradient(to bottom right, green 10%, white 90%); /*Standard*/
  opacity: .6;
}

@media (max-width: 320px) {
  .image_text {
    left: 10px;
    top: 40px;
  }
}

/* Navbar */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.topnav li a:hover {background-color: #555;}
ul.topnav li.icon {display: none;}

/* Media Query Navbar */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* Media Query Navbar */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}
