%ul#myTopnav.topnav
  %li
    %a{:href => "#projects"} Projects
  %li
    %a{:href => "about.html.haml"} About
  %li
    %a{:href => "#contact"} Contact
  %li.icon
    %a{:href => "javascript:void(0);", :onclick => "myFunction()"} ☰
