!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    %p About dsadsasdasdasdsaddsasda
    %script{:src => "https://code.jquery.com/jquery-2.1.4.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.js"}
