!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body

    / header image
    #grad.image
      .image_text Jesper Green
    / my goals
    .row
      .small-12.columns
        .goals_heading Some of my projects
        %ul#myProjects
          %li
            %a{:href => "https://github.com/JesperGreen/fizz-buzz"} FizzBuzz
            %p
            Doing the logic for the Fizz Buzz game using Ruby.
          %li
          %br
            %a.atm_link{:href => "https://github.com/JesperGreen/atm_challenge"} ATM Challenge
            %p
            Doing the logic for an ATM,
            %br
            where you as a person can hold an account,
            %br
            withdraw and deposit cash and give you a receipt.
          %li
          %br
            %a{:href => "https://github.com/JesperGreen/BMI_challenge"} BMI Calculator
            %p
            A very impressive and flashy calculator that
            %br
            calculates your BMI using either the metric or imperial system.
          %li
          %br
            %a{:href => "https://www.teamfinder.gg/"} Team Finder
            %p
            A site that is still in development,
            %br
            created to make it easier for gamers to find people to play with.
            %br
    %script{:src => "https://code.jquery.com/jquery-2.1.4.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.js"}
