!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.min.css", :rel => "stylesheet"}/
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body

    / header image
    #grad.image
      .image_text Placeholder
    / my goals
    .row
      .small-12.columns
        .goals_heading Some of my projects
        %ul#myProjects
          %li
            %a{:href => "https://github.com/JesperGreen"} Project 1
            %p Project example 1
          %li
            %a{:href => "https://github.com/JesperGreen"} Project 2
            %p Project example 2
          %li
            %a{:href => "https://github.com/JesperGreen"} Project 3
            %p Project example 3
          %li
            %a{:href => "https://github.com/JesperGreen"} Project 4
            %p Project example 4
    %hr
    .row
  .small-12.columns
    .goals_heading About Me
    .goals_body About me here

    %hr
    .row
      / 3 sections
      .row
        .contact_heading Contact
        .small-12.columns
          .row
            .small-12.medium-4.columns.text-center
              .image_container
                %img.mail_image{:alt => "", :src => "images/gmail-logo.png"}/
              .section_header
                Email
              .section_body
                %a{:href => "mailto:jesper_gs_@hotmail.com"} jesper_gs_@hotmail.com
            .small-12.medium-4.columns.text-center
              .image_container
                %img.github_image{:alt => "", :src => "images/github-logo.png"}/
              .section_header
                GitHub
              .section_body
                %a{:href => "https://github.com/JesperGreen", :target => "_blank"} GitHub Profile
            .small-12.medium-4.columns.text-center
              .image_container
                %img.phone_image{:alt => "", :src => "images/phone-logo.jpg"}/
              .section_header
                Phone
              .section_body
                %a{:href => "tel:+46760805391"} Call me


    %script{:src => "https://code.jquery.com/jquery-2.1.4.js"}
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.1.1/foundation.js"}
